 @charset "UTF-8";

/* 초기화 */

/* 바디와 div는 같은 성격의 html 태그
ul~ol까지 같은 성격의 Html 태그
h1~h6까지 같은 성격의 HTml 태그
form~legend까지 같은 성격의 HTml 태그
p~tr까지 같은 성격의 HTml 태그

body, div, 
ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, 
form, input, select, textarea, button, fieldset, legend,
p, table, th, td, tr{
    margin: 0; padding: 0;
} */

*{
    margin: 0;
    padding: 0;
   }
.wrap h3{
    font-size: 18px;
    font-weight: bold;
    /* border:1px solid black; */
 }

body{
    background-color: #808080;
    font-family: "맑은고딕";
    font-size: 12px;
}
/*공통
.form-group{
    margin: 0px 10px 0px 0px;
    margin-bottom: 10px;
    border:1px solid black; 
 }
*/

/*제목*/
.form-group #txt-title{
    width: 200px;
}

.form-group label{
    width: 80px ;
}

.form-group #sel-board{
    width: 200px;
    margin-right: 20px;
}

.wrap{
    width: 700px;
    background-color: #fff;
}

/*게시판선택*/
.form-group #sel-board{
    width: 200px;
}

/*패스워드*/
.form-group #txt-pwd{
    width: 197px;
}

.form-title{
    display: inline-block;
    width: 80px;
}

/*공개범위*/
.form-group>input[type="radio"],
.form-group>input[type="checkbox"]{
    margin-right: 10px;
}

/*글내용*/
form-group>textarea{
    width: 680px;
    height: 700px;
}

/*버튼그룹*/
.btn-group{
    padding: 10px;
    border-top: 1px solid black;
    text-align: center;
}

.btn-group>button{
    width: 60px;
    height: 30px;
}